<div class="flex flex-col items-center">
    <div *ngIf="isComplete" class="absolute bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3" role="alert">
        <p class="font-bold">Pedido escaneádo con éxito</p>
        <p class="text-sm">Se realizó correctamente el pedido.</p>
    </div>
    <div *ngIf="isPending" class="absolute bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4" role="alert">
        <p class="font-bold">Atención</p>
        <p>Su pedido ya ha sido completado.</p>
      </div>
    <zxing-scanner class="w-full" (scanSuccess)="getOrder($event)"></zxing-scanner>
    <div class="flex flex-col bg-zinc-200">
        <table class="w-full table-auto" >
            <thead class="border-b bg-gray-300">
              <tr class="border border-solid border-gray-600">
                <th scope="col" class="text-xs md:text-sm font-medium text-gray-900 px-2 py-1 sm:px-6 sm:py-4 text-left">
                  Datos del alumno 
                </th>
                <th scope="col" class="text-xs md:text-sm font-medium text-gray-900 px-2 py-1 sm:px-6 sm:py-4 text-left">
                  Herramientas 
                </th>
                <th scope="col" class="text-xs md:text-sm font-medium text-gray-900 px-2 py-1 sm:px-6 sm:py-4 text-left">
                  Estado del Pedido 
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of scannedOrder" class="border-b border-solid border border-gray-500">
                <td class="sm:pl-4">
                  <p class="font-medium"><strong>No.Control: </strong>{{order.profile.controlNumber}}</p>
                  <p><strong>Nombre: </strong>{{order.profile.name}}</p> 
                  <p><strong>Carrera: </strong>{{order.profile.career}}</p>
                  <p><strong>Semestre: </strong> {{order.profile.semester}}</p>
                  <p><strong>Grupo: </strong> {{order.profile.group}}</p>
                </td>
                <td class="flex flex-col" >
                  <div *ngFor="let orderTool of order.tools" class="gap-y-2">
                    <p><strong>Herramienta: </strong>{{orderTool.tool.herramienta}}</p>
                    <p><strong>Cantidad: </strong>{{orderTool.amount}}</p>
                  </div>
                </td>
                <td class="">{{order.status}}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>