<div class="grid place-items-center h-20 ">
  <div class="container-title flex flex-row items-center h-10 justify-center">
    <h1 class="center-text text-violet-900 text-2xl hidden sm:block font-bold tracking-wider">Almacen ITVO</h1>
    <img class="object-cover h-20 sm:h-14" src="assets/img/itvo.png" alt="logo-itvo">
  </div>
  <div class="flex flex-col sm:flex-row justify-evenly w-full" *ngIf="authService.isLoggedIn()">
    <button (click)="toggleNav()" title="btn-toggle" class="w-10 navbar-toggler text-gray-500 border-0 hover:shadow-none hover:no-underline
      py-2 px-2.5 bg-transparent focus:outline-none focus:ring-0 focus:shadow-none focus:no-underline sm:hidden"
      type="button">
      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" class="w-6" role="img"
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path fill="currentColor"
          d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z">
        </path>
      </svg>
    </button>
    <nav #nav [ngClass]="{'active': isToggleActive }" class="sm:right-0 hidden sm:block relative w-full
                  md:flex flex-wrap items-center justify-between
                  py-4 bg-gray-100 text-gray-500 hover:text-gray-700
                  focus:text-gray-700 shadow-lg navbar navbar-expand-lg navbar-light">
      <div class="container-fluid w-full flex flex-wrap items-center justify-between px-6">
        <ul
          class="navbar-nav flex flex-col h-screen sm:h-full sm:flex-row flex-wrap pl-0 gap-10 sm:gap-0 list-style-none mr-auto">
          <li class="nav-item px-2">
            <a routerLink="/admin/dashboard" aria-current="page"
              class="nav-link active hidden sm:block text-gray-500 hover:text-gray-700 focus:text-gray-700 p-0">Dashboard</a>
            <a routerLink="/admin/dashboard" aria-current="page" (click)="toggleNav()"
              class="nav-link active sm:hidden text-gray-500 hover:text-gray-700 focus:text-gray-700 p-0">Dashboard</a>
          </li>
          <li class="nav-item pr-2">
            <a routerLink="{{(authService.user$ | async)?.roles?.admin? '/admin/tools':'/students'}}"
              class="nav-link hidden sm:block text-gray-500 hover:text-gray-700 focus:text-gray-700 p-0">Materiales</a>
            <a routerLink="{{(authService.user$ | async)?.roles?.admin? '/admin/tools': '/students'}}"
              (click)="toggleNav()"
              class="nav-link sm:hidden text-gray-500 hover:text-gray-700 focus:text-gray-700 p-0">Materiales</a>
          </li>
          <li class="nav-item pr-2" *ngIf="(authService.user$ | async)?.roles?.admin">
            <a routerLink="/admin/scanner"
              class="nav-link text-gray-500 hidden sm:block hover:text-gray-700 focus:text-gray-700 p-0">Scanner</a>
            <a routerLink="/admin/scanner" (click)="toggleNav()"
              class="nav-link sm:hidden text-gray-500 hover:text-gray-700 focus:text-gray-700 p-0">Scanner</a>
          </li>
          <li class="nav-item pr-2" *ngIf="(authService.user$ | async)?.roles?.admin">
            <a routerLink="/admin/orders/inspect-order"
              class="nav-link text-gray-500 hidden sm:block hover:text-gray-700 focus:text-gray-700 p-0">Pedidos</a>
            <a routerLink="/admin/orders/inspect-order" (click)="toggleNav()"
              class="nav-link sm:hidden text-gray-500 hover:text-gray-700 focus:text-gray-700 p-0">Pedidos</a>
          </li>
          <li class="nav-item pr-2">
            <a routerLink="/profile"
              class="nav-link text-gray-500 hidden sm:block hover:text-gray-700 focus:text-gray-700 p-0">Perfil</a>
            <a routerLink="/profile" (click)="toggleNav()"
              class="nav-link sm:hidden text-gray-500 hover:text-gray-700 focus:text-gray-700 p-0">Perfil</a>
          </li>
          <li class="nav-item pr-2">
            <a (click)="authService.logout()"
              class="nav-link hidden sm:block text-gray-500 hover:text-gray-700 focus:text-gray-700 p-0 cursor-pointer">Cerrar
              Sesión</a>
            <a (click)="authService.logout()" (click)="toggleNav()"
              class="nav-link sm:hidden text-gray-500 hover:text-gray-700 focus:text-gray-700 p-0 cursor-pointer">Cerrar
              Sesión</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<router-outlet></router-outlet>